#hotel1 .col-lg-6{
    margin: 0 !important;
    padding: 5px;
}

#hotel1 img{
    width: 80%;
    height: 300px;
    padding: 5px;
    cursor: pointer;

}

#hotel1 img:hover{
    border: 4px solid #f7f7f7;
}

.btn-close{
    position: absolute;
    margin-left: 95%;
    margin-top: -6%;
}
