.carrusel{
    padding-top: 55px;
}

.carou{
    height: 490px;
}

.img1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-40%);
    filter: brightness(0.5);
    -webkit-transform: translate(-50%,-40%);
    -moz-transform: translate(-50%,-40%);
    -ms-transform: translate(-50%,-40%);
    -o-transform: translate(-50%,-40%);
}

.img2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-60%);
    filter: brightness(0.5);
    -webkit-transform: translate(-50%,-60%);
    -moz-transform: translate(-50%,-60%);
    -ms-transform: translate(-50%,-60%);
    -o-transform: translate(-50%,-60%);
}

.img6{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: brightness(0.5);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}